.containfootr1{

    height:300px;
    margin-top:100px;
    background-color:#1c1d1f;
}

.footer2a{
      
      line-height: 1.8;
}
 .footer2a > ul {

list-style: none;

 }

 .footer2a > ul > li > a{

     text-decoration: none;
     color: white;
  }

  .footer2a > ul > li > a:hover{
    border-bottom: 1px solid white;
 }

 .logoimgefoot{
   margin-top: 60px;
   margin-left: 30px;

 }

.language2{
  
    border: 1px solid #ffffff;
    height: 40px;
    width: 150px;
    margin-left: 100px;
    font-size: 18px;
    
}

.copyrght{
    color: white;
    margin-left: 145px;
    margin-top: 165px;
    font-size: 12px;
}